<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Paloma Engine.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>apple example.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>39298E7E2F0D1992003F4BD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3952FFD92F0BCC9200B8242A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>398F62E22F0DF152006950FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39C1ECA22F0BB2D40021EF5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
